<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-page">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Faça seu login!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="loginForm">
          <ion-item>
            <ion-input formControlName="username" labelPlacement="floating" label="Nome ou apelido:" type="text"></ion-input>
            <p>
            @if(hasError('username', 'required')){
              O campo nome ou apelido é obrigatório!
            }
            @if(hasError('username', 'minlength')){
              O campo deve ter no mínimo 2 letras!
            }
            </p>
          </ion-item>
          <ion-item>
            <ion-input formControlName="password" labelPlacement="floating" label="Senha: "type="password"></ion-input>
            @if(hasError('password', 'required')){
              O campo de senha é obrigatório!
            }
            @if(hasError('password', 'minlength')){
              O campo deve ter no mínimo 6 digitos!
            }
          </ion-item>
        </form>
        <div class="surround-button">
          <ion-button [disabled]="loginForm.invalid" (click)="logar()">Login <ion-icon name="log-out-outline" slot="end"></ion-icon>
</ion-button>
        </div>
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
