<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="linha">
    <ion-item>
      <ion-label class="texto" position="fixed">Pesquisar</ion-label>
      <ion-input slot="end"></ion-input>
    </ion-item>
  </div>
  <div class="dir_text">
    <ion-button fill="clear" [routerLink]="['new']">
      Criar Evento
      <ion-icon slot="end" name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>
  <div *ngFor="let event of eventList" class="grad">
    <div class="imagem">
      <ion-thumbnail slot="start">

        <img [alt]="event.title" [src]="event.image" />
      </ion-thumbnail>
    </div>
    <div class="conteudo">

      <ion-title>{{ event.title }}</ion-title>
      <ion-text>

        <p>
          {{ event.text }}
        </p>
      </ion-text>
    </div>
  </div>

</ion-content>