<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="eventsForm">
    <ion-list>
      <ion-item>
        <ion-input formControlName="owner" labelPlacement="floating" label="Organizador(es):" type="text"></ion-input>
        <p class="error-message">
          @if(hasError('owner', 'required')){
          O campo é obrigatório!
          }
          @if(hasError('owner', 'minlength')){
          O campo deve ter no mínimo 4 caracteres!
          }
          @if(hasError('owner', 'maxlength')){
          O campo deve ter no máximo 60 caracteres!
          }
        </p>
      </ion-item>
      <ion-item>
        <ion-input formControlName="name" labelPlacement="floating" label="Nome:" type="text"></ion-input>
        <p class="error-message">
          @if(hasError('name', 'required')){
          O campo é obrigatório!
          }
          @if(hasError('name', 'minlength')){
          O campo deve ter no mínimo 2 caracteres!
          }
          @if(hasError('name', 'maxlength')){
          O campo deve ter no máximo 255 caracteres!
          }
        </p>
      </ion-item>
      <ion-item>
        <ion-input formControlName="address" labelPlacement="floating" label="Endereço:" type="text"></ion-input>
        <p class="error-message">
          @if(hasError('address', 'required')){
          O campo é obrigatório!
          }
          @if(hasError('address', 'minlength')){
          O campo deve ter no mínimo 20 caracteres!
          }
          @if(hasError('address', 'maxlength')){
          O campo deve ter no máximo 255 caracteres!
          }
        </p>
      </ion-item>
      <ion-item>
        <ion-input formControlName="city" labelPlacement="floating" label="Cidade:" type="text"></ion-input>
        <p class="error-message">
          @if(hasError('city', 'required')){
          O campo é obrigatório!
          }
          @if(hasError('city', 'minlength')){
          O campo deve ter no mínimo 4 caracteres!
          }
          @if(hasError('city', 'maxlength')){
          O campo deve ter no máximo 100 caracteres!
          }
        </p>
      </ion-item>

      <ion-item>
        <ion-input formControlName="info" labelPlacement="floating" label="Sobre o Evento:" type="text"></ion-input>
        <p class="error-message">
          @if(hasError('info', 'required')){
          O campo é obrigatório!
          }
          @if(hasError('info', 'minlength')){
          O campo deve ter no mínimo 20 caracteres!
          }
          @if(hasError('info', 'maxlength')){
          O campo deve ter no máximo 800 caracteres!
          }
        </p>
      </ion-item>

      <ion-item>
        <ion-input formControlName="begin_date" labelPlacement="floating" label="Data de início do evento: "
          type="date" />
      </ion-item>

      <ion-item>
        <ion-input formControlName="end_date" labelPlacement="floating" label="Data do fim do evento: " type="date" />
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Estabelecimentos</ion-label>
        <ion-select formControlName="id_facility" interface="popover">
          @for(establishment of establishment; track establishment){
            <ion-select-option [value]="establishment.id">{{establishment.name}}</ion-select-option>
          }
        </ion-select>
        <p class="error-message">
          @if(hasError('establishment', 'required')){
          O campo é obrigatório
          }
        </p>
        <ion-note slot="error" *ngIf="hasError('establishment', 'required')">Estabelecimento é obrigatório</ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Preço</ion-label>
        <ion-input type="number" inputmode="decimal" formControlName="price"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="photo" labelPlacement="floating" label= "Foto do Evento:" 
          (change)="arquivoSelecionado($event)" type="file"></ion-input>
          <p>
            @if(hasError('photo_url','required')){
              O campo é obrigatório
            }
          </p>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [disabled]="eventsForm.invalid" (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>