<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Estabelecimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="action-bar">
    <ion-searchbar class="search-input" [(ngModel)]="termoPesquisado" (ionInput)="pesquisaEstabelecimentos()"
      placeholder="Pesquisar estabelecimentos..."></ion-searchbar>
    <ion-button class="create-button" [routerLink]="['new']">
      <ion-icon slot="start" name="add"></ion-icon>
      Criar Novo
    </ion-button>
  </div>


  <div class="establishment-list">
    <ng-container *ngFor="let establishment of pesquisaEstablishment;">
      <ion-card *ngIf="establishment.public === 'PUBLIC'" button [routerLink]="['details', establishment.id]">
        <div class="card-inner-wrapper">

          <div class="image-container">
            <img class="establishment-image" [alt]="establishment.name" [src]="establishment.image" />
          </div>
          <div class="establishment-content">

            <ion-card-title>{{ establishment.name }}</ion-card-title>

            <p class="establishment-description">
              {{ establishment.description }}
            </p>

          </div>

          <ion-icon class="card-action-icon" name="chevron-forward-outline" aria-hidden="true"></ion-icon>
        </div>
      </ion-card>
    </ng-container>
  </div>

</ion-content>