<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Estabelecimentos</ion-title>
  </ion-toolbar>
</ion-header>

<div class="mapa-container">
    <div class="container-centralizada">
      <img src="https://images.adsttc.com/media/images/543c/781b/c07a/802a/6900/019c/large_jpg/3_floor-200grey-res.jpg?1413249032" class="planta-baixa" />
    </div>

    <div class="marcador marcador-azul"></div>
    <div class="marcador marcador-vermelho"></div>
    <div class="marcador marcador-marrom"></div>
</div>