<ion-content class="auth-start-content" fullscreen>
  <div class="container">
    <div class="logo-conteiner">
      <h1 class="empresa-logo">MeEncontrei</h1>
    </div>
    <div class="buttons">
      <div class="main-buttons">
        <ion-button expand="block" class="btn-login" routerLink="/auth/login">Login</ion-button>
        <ion-button expand="block" class="btn-signin" routerLink="/auth/register">Registrar</ion-button>
      </div>
      <ion-button fill="clear" expand="block" class="btn-guest" routerLink="/auth/login">Continuar como convidado</ion-button>
    </div>
  </div>
</ion-content>