<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="currentUser">
  <ion-card>
    <ion-card-content>
      <div class="profile-container">
        @if(currentUser.image){
          <img [alt]="currentUser.username" [src]="currentUser.image" class="profile-photo"/>
        } @else {
          <img alt="Sem Capa" src="https://placehold.co/400"class="profile-photo"/>
        }

        <div class="profile-details">
          <h2>{{ currentUser.username }}</h2>
          <p><strong>Email:</strong> {{ currentUser.email }}</p>
          
          <p><strong>Administrador:</strong> {{ currentUser.role == 'ADMIN' ? 'Sim' : 'Não' }}</p>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
