<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Estabelecimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="establishmentForm">
    <ion-list>
      <ion-item>

        <ion-input formControlName="location" labelPlacement="floating" label="Endereço:" type="text"> </ion-input>
        <p class="error-message">
          @if(hasError('location', 'required')){
          O campo é obrigatório!
          }
          @if(hasError('location', 'minlength')){
          O campo deve ter no mínimo 20 caracteres!
          }
          @if(hasError('location', 'maxlength')){
          O campo deve ter no máximo 255 caracteres!
          }
        </p>
      </ion-item>
      <ion-item>
        <ion-input formControlName="city" labelPlacement="floating" label="Cidade:" type="text"></ion-input>
        <p class="error-message">
          @if(hasError('city', 'required')){
          O campo é obrigatório!
          }
          @if(hasError('city', 'minlength')){
          O campo deve ter no mínimo 4 caracteres!
          }
          @if(hasError('city', 'maxlength')){
          O campo deve ter no máximo 100 caracteres!
          }
        </p>
      </ion-item>
      <ion-item>
        <ion-input formControlName="name" labelPlacement="floating" label="Nome:" type="text"></ion-input>
        <p class="error-message">
          @if(hasError('name', 'required')){
          O campo é obrigatório!
          }
          @if(hasError('name', 'minlength')){
          O campo deve ter no mínimo 2 caracteres!
          }
          @if(hasError('name', 'maxlength')){
          O campo deve ter no máximo 255 caracteres!
          }
        </p>
      </ion-item>
      <ion-item>
        <ion-input formControlName="description" labelPlacement="floating" label="Descrição:" type="text"></ion-input>
        <p class="error-message">
          @if(hasError('description', 'required')){
          O campo é obrigatório!
          }
          @if(hasError('description', 'minlength')){
          O campo deve ter no mínimo 10 caracteres!
          }
          @if(hasError('description', 'maxlength')){
          O campo deve ter no máximo 800 caracteres!
          }
        </p>
      </ion-item>
      <ion-item>
        <ion-input formControlName="owner" labelPlacement="floating" label="Dono do Estabelecimento:"
          type="text"></ion-input>
        <p class="error-message">
          @if(hasError('owner', 'required')){
          O campo é obrigatório!
          }
          @if(hasError('owner', 'minlength')){
          O campo deve ter no mínimo 4 caracteres!
          }
          @if(hasError('owner', 'maxlength')){
          O campo deve ter no máximo 60 caracteres!
          }
        </p>
      </ion-item>

      <ion-item>
        <ion-input formControlName="photo" labelPlacement="floating" label="Foto do Estabelecimento:"
          (change)="arquivoSelecionado($event, 'photo')" type="file"></ion-input>
        <p class="error-message">
          @if(hasError('photo_url','required')){
          O campo é obrigatório
          }
        </p>
      </ion-item>
      <ion-item>
        <ion-input formControlName="map" labelPlacement="floating" label="Planta Baixa do Estabelecimento:"
          (change)="arquivoSelecionado($event, 'map')" type="file"></ion-input>
        <p class="error-message">
          @if(hasError('map','required')){
          O campo é obrigatório
          }
        </p>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [disabled]="establishmentForm.invalid" (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>