<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="currentUser">
  <div class="profile-content-wrapper">
    <ion-card class="profile-card">
      <ion-card-content>

        <div class="profile-section">
          <div class="profile-photo-wrapper">
            @if(currentUser.profile_pic){
            <img [alt]="currentUser.username" [src]="currentUser.profile_pic" class="profile-photo" />
            } @else {

            <ion-icon name="person-circle-outline" class="profile-photo-fallback"></ion-icon>
            }
          </div>

          <div class="profile-details">
            <h1 class="ion-no-margin">{{ currentUser.username }}</h1>
            <p class="detail-item">
              <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
              {{ currentUser.email }}
            </p>
          </div>
        </div>

      </ion-card-content>
    </ion-card>


    <ion-card class="management-card">
      <ion-card-header>
        <ion-card-title>Gerenciar Conteúdo</ion-card-title>
        <ion-card-subtitle>Usuários, Estabelecimentos e Eventos</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="management-actions">
          <ion-button expand="block" fill="solid" [routerLink]="['/user/managementAdmin', 'usuarios']">
            <ion-icon name="people-circle" slot="start"></ion-icon>
            Usuários
          </ion-button>

          <ion-button expand="block" fill="solid" [routerLink]="['/user/managementAdmin', 'estabelecimento']">
            <ion-icon name="business" slot="start"></ion-icon>
            Estabelecimentos
          </ion-button>

          <ion-button expand="block" fill="solid" [routerLink]="['/user/managementAdmin', 'evento']">
            <ion-icon name="calendar" slot="start"></ion-icon>
            Eventos
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>