<ion-app>
  <ion-menu *ngIf="menuVisivel" contentId="main-content">

    <ion-content class="menu-content">


      <div class="menu-header" [routerLink]="['user']" >
        <ion-avatar class="user-avatar">

          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-avatar>
        <div class="user-info">
          <span class="user-name">{{ user.username }}</span>
          <span class="user-role">{{ user.role }}</span>
        </div>
      </div>


      <div class="menu-divider"></div>


      <ion-list class="navigation-list">
        @for (p of appPages; track p) {
        <ion-menu-toggle auto-hide="false">
          <ion-item button [routerLink]="[p.url]" routerDirection="root" routerLinkActive="selected" lines="none">
            <ion-icon slot="start" [name]="p.icon" aria-hidden="true"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        }
      </ion-list>

      <ion-list class="actions-list">

        <ng-container *ngFor="let p of actionPages">
          <ng-container *ngIf="user?.role === 'USER'">
            <ion-menu-toggle auto-hide="false" *ngIf="p.title != 'Administrador' ">
              <ion-item button [routerLink]="[p.url]" routerDirection="root" routerLinkActive="selected" lines="none">
                <ion-icon slot="start" [name]="p.icon" aria-hidden="true"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>

          <ng-container *ngIf="user?.role === 'ADMIN'">
            <ion-menu-toggle auto-hide="false" >
              <ion-item button [routerLink]="[p.url]" routerDirection="root" routerLinkActive="selected" lines="none">
                <ion-icon slot="start" [name]="p.icon" aria-hidden="true"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>  

        </ng-container>    
      </ion-list>

    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>