<ion-header class="custom-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ userId ? 'Editar Usuário' : 'Cadastrar novo usuário' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="userForm">
    <ion-list>
      <ion-item>
        <ion-input formControlName="username" labelPlacement="floating" label="Nome:" type="text"></ion-input>
        <p class="error-message">
          @if(hasError('username', 'required')){
            O campo é obrigatório!
          }
          @if(hasError('username', 'minlength')){
            O campo deve ter no mínimo 4 caracteres!
          }
          @if(hasError('username', 'maxlength')){
            O campo deve ter no máximo 20 caracteres!
          }
        </p>
      </ion-item>
      
      <ion-item>
        <ion-input formControlName="email" labelPlacement="floating" label="Email:" type="text"></ion-input>
        <p class="error-message">
          @if(hasError('email', 'required')){
            O campo é obrigatório!
          }
        </p>
      </ion-item>
      
      <ion-item>
        <ion-input formControlName="password" labelPlacement="floating" label="Senha:" type="text"></ion-input>
        <p class="error-message">
          @if(hasError('password', 'required')){
            O campo é obrigatório!
          }
          @if(hasError('password', 'minlength')){
            O campo deve ter no mínimo 8 caracteres!
          }
      </ion-item>
      
      <ion-item>
        <ion-input formControlName="profile_pic" labelPlacement="floating" label="Foto de Perfil:"
          (change)="arquivoSelecionado($event)" type="file"></ion-input>
      </ion-item>

    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>