<ion-content class="ion-padding login-content">
  <div class="login-wrapper">
    <h1 class="empresa-logo">MeEncontrei</h1>
    <h2 class="login-title">Acesse sua conta!</h2>

    <form class="form">
      <div class="field" [class.has-value]="usernameHasValue" [class.is-focused]="fUser">
        <label class="field__label">Username</label>
        <ion-input [(ngModel)]="username" name="username" type="text" (ionFocus)="fUser = true"
          (ionBlur)="fUser = false" (ionInput)="checkValue($event, 'username')">
        </ion-input>
      </div>

      <div class="field" [class.has-value]="passwordHasValue" [class.is-focused]="fPass">
        <label class="field__label">Senha</label>
        <ion-input [(ngModel)]="password" name="password" type="password" (ionFocus)="fPass = true"
          (ionBlur)="fPass = false" (ionInput)="checkValue($event, 'password')">
        </ion-input>
      </div>

      <div class="redirect-register-container">
        <ion-text class="no-account-text">
          Não tem uma conta?
          <span class="direct-register" (click)="goToRegister()">Registre-se</span>
        </ion-text>
      </div>

      <ion-button class="login-button" expand="block" (click)="onLogin()">Login</ion-button>
    </form>
  </div>
</ion-content>