<ion-content class="ion-padding login-content">
  <div class="login-wrapper">
    <h1 class="empresa-logo">MeEncontrei</h1>
    <h2 class="login-title">Acesse sua conta!</h2>

    <form [formGroup] = "loginForm" class="form">
      <div class="field" [class.has-value]="loginForm.get('username')?.value" [class.is-focused]="fUser">
        <label class="field__label">Username</label>
        <ion-input formControlName="username" name="username" type="text" (ionFocus)="fUser = true"
          (ionBlur)="fUser = false">
        </ion-input>
      </div>
    

      <div class="field" [class.has-value]="loginForm.get('password')?.value" [class.is-focused]="fPass">
        <label class="field__label">Senha</label>
        <ion-input formControlName="password" name="password" type="password" (ionFocus)="fPass = true"
          (ionBlur)="fPass = false">
        </ion-input>
      </div>

      <div class="redirect-register-container">
        <ion-text class="no-account-text">
          Não tem uma conta?
          <span class="direct-register" (click)="goToRegister()">Registre-se</span>
        </ion-text>
      </div>

      <ion-button class="login-button" expand="block"  [disabled]="loginForm.invalid" (click)="onLogin()">Login</ion-button>
    </form>
  </div>
</ion-content>