/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-content {
  font-family: 'Roboto', sans-serif;
}

.toast-design {
  --background: #fcfcfc; /* Cor de fundo mais clara */
  --color: #036b24;      /* Cor do texto */
  --border-radius: 20px; /* Arredondamento das bordas */
  --box-shadow: 0 0 0 3px #036b24, 0 6px 10px rgba(10, 9, 9, 0.2);
  --max-width: fit-content;
}

ion-toast.toast-design::part(message) {
  font-size: 18px;
}

ion-toast.toast-design::part(message) {
  font-size: 18px;
  font-weight: bold;
}

ion-toast.toast-design {
  position: absolute;
  top: unset;
  bottom: 30px; /* Mude este valor conforme necessário */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajuste fino para garantir que o Toast fique centralizado */
}
.gm-style-iw {
  background-color: #ffffff !important; 
  color: #000000;
}
.gm-style-iw select{
  background-color: #ffffff !important; 
  color: #000000;
}
.gm-style-iw input{
  background-color: #ffffff !important; 
  color: #000000;
}
.gm-style-iw textarea{
  background-color: #ffffff !important; 
  color: #000000;
}
#centerContent button {
  background-color: #6151516b !important;
  color: #000000 !important;
}
.gm-ui-hover-effect:hover {
  border: 2px solid #000000 !important; /* cor da borda */
  // border-radius: 8px !important;        /* opcional */
  box-sizing: content-box !important;    /* para manter o tamanho */
  width: auto !important;
  height: auto !important;   
}

.gm-ui-hover-effect span {
  background-color: #000000 !important;

  color: #000000 !important;  
}