:host {
  --background: #1a1a1a;
  --ion-text-color: #f5f5f5;
}

ion-content {
  --background: linear-gradient(to right, rgba(106, 90, 205, 0.6), rgba(160, 196, 255, 0.6));
}

.custom-header {
  &::after {
    display: none;
  }

  ion-toolbar {
    flex: 1;
    min-width: 250px;
    --background: linear-gradient(to right, rgb(88, 71, 203)d, #7eadf8);
    --color: #fff;

    --icon-color: #ffffff;
    --border-radius: 8px;
    padding: 0;
  }
}

.action-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 24px;
  align-items: center;
  background-color: linear-gradient(to right, #6a5acd, #a0c4ff);
}

.search-input {
  flex: 1;
  min-width: 250px;
  --background: linear-gradient(to right, rgb(51, 23, 233)d, #5079ba);
  --color: #fff;

  --icon-color: #ffffff;
  --border-radius: 8px;
  padding: 0;
}

.create-button {
  // flex: 1;
  min-width: 250px;
  --background: linear-gradient(to right, rgb(88, 71, 203)d, #7eadf8);
  --color: #fff;
  --icon-color: #ffffff;
  --border-radius: 8px;
  padding: 0;
  --background-hover: #5a1e9e;
  --border-radius: 8px;
  --padding-start: 16px;
  --padding-end: 16px;
  height: 44px;
  font-weight: 600;
}

.establishment-list {
  padding: 16px 24px;

}

ion-card {
  flex: 1;
  min-width: 250px;

  --background: rgba(28, 28, 28, 0.5);
  --color: #fff;

  --icon-color: #ffffff;
  --border-radius: 8px;
  padding: 0;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

}

.card-inner-wrapper {
  display: flex;
  align-items: stretch;
  flex: 1;
  max-width: 100%;
  min-height: 100px;
}

.image-container {
  flex: 0 0 100px;
  margin-right: 15px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.establishment-image {
  width: 100%;
  height: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  flex: 1 1 auto;
}

.establishment-content {
  ion-button[size="small"] {
    --border-radius: 8px;
    font-weight: 500;
    height: 32px;
    --background: linear-gradient(to right, rgb(88, 71, 203), #7eadf8);
  }



  ion-button[expand="full"] {
    --border-radius: 8px;
    font-weight: 600;
    margin-top: 10px;
    --background: linear-gradient(to right, rgb(88, 71, 203), #7eadf8);
    --background-activated: #5847CB;
    --color: #ffffff;
  }
}


ion-card-title {
  font-size: 1.0rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 8px;
  margin-top: 8px;
}

.establishment-description {
  margin: 0;
  font-size: 0.9rem;
  color: #fff;
  line-height: 1.5;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-action-icon {
  flex-shrink: 0;
  font-size: 1.2rem;
  color: #777;
}